@keyframes slideUp {
    0% {
        transform: translateY(300px);
    }

    100% {
        transform: translateY(0px);
    }
}

.btns_more {
    transform: translateY(300px);
    animation: slideUp ease-in-out forwards 1s;
}